@media screen and (max-width:390px){
    .phone-hide {
        display: none;
    }
    .mobile {
        display: block;
        margin: 0;
    }
    .desktop {
        display: none;
    }
    .mobile div {
        width: 100%;
        height: 10px;
        background-color: black;
        z-index: 1;

        margin: 50px 0;
    }
    .section3 {
        display: none;
    }
    .mobile p {
        color: black;
    }



    body {
        background-color: #C9D1C8;
    }
    *{
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    body, pre {
        font-family: 'Bebas Neue', sans-serif;
    }
    .box{
        max-width: 840px;
    }
    .wrapper {
        margin: auto;
    }
    .header {
        width: 100%;
        height: 50px;
        font-size: 24px;
        background-color: #304040;
        display: flex;
        justify-content: center;
    }
    .header ul {
        display: flex;
        list-style: none;
        line-height: 50px;
    }
    .header ul li {
        margin-right: 10px;
        color: #FFFFFF;
    }
    /* -------------------- */
    
    .user {
        width: 400px;
        height: 400px;
        z-index: 1;
    }
    
    .under-header {
        width: 100%;
        background-color: #C9D1C8;
        display: flex;
    }
    .part1 {
        margin-left: 0;
        margin-right: 0;
    }
    .under-header .box {
        width: 100%;
        height: 400px;
        background-image: url(img/Background.png);
        background-size: cover;
        background-position: center;
        display: flex;
        color: white;
        align-items: center;
        position: relative;
    }
    .under-header img {
        position: absolute;
        right: 0;
    }
    .under-header h2{
        font-size: 60px;
        font-weight: lighter;
    }
    .under-header h1{
        font-size: 60px;
        font-weight: lighter;
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    .part2{
        position: absolute;
        right: 20px;
        bottom: -30px;
        z-index: 1;
    }
    
    /* ----------------- */
    .content{
        color: #C9D1C8;
        max-width: 840px;
    }
    .content h1 {
        font-size: 48px;
        font-weight: lighter;
        margin-top: 20px;
        margin-left: 25px;
    }
    .content p {
        font-size: 35px;
        margin-left: 25px;
    }
    .content pre {
        font-size: 30px;
    }
    .section1 {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center ;
    }
    .section1 .box{
        display: flex;
    }
    .element1 {
        max-width: 800px;
        max-height: 1000px;
        background-color: #04202C;
        border-radius: 40px;
    }
    .element2 {
        max-width: 500px;
        height: 350px;
        background-color: #5B7065;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .element2 img {
        width: 300px;
        height: 300px;
    }
    
    .section2 {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    
    .section2 .element {
        width: 100%;
        max-height: 1500px;
        background-color: #5B7065;
        border-radius: 40px;
        border-left: 15px solid #04202C;
        border-right: 15px solid #04202C;
    }
    .section2 .element ul li {
        list-style: none;
        font-size: 40px;
        margin-left: 20px;
    }
    
    .section3 {
        width: 100%;
    }
    .section3 pre {
        font-size: 30px;
    }
    .mobile pre {
        font-size: 28px;
    }
    
    .section4 {
        width: 100%;
        margin-top: 50px;
        display: flex;
    }
    .section4 .part1 {
        width: 100%;
        height: 600px;
        color: black;
    }
    .section4 .part1 h1{
        font-size: 40px;
        text-align: center;
    }
    .section4 p{
        margin-top: 45px;
        font-size: 30px;
    }
    .section4 .element {
        margin-top: 45px;
        max-width: 300px;
        height: 300px;
        background-image: url(img/Background.png);
        background-size: cover;
        background-position: center;
        background-color: red;
        overflow: hidden;
        display: flex;
        justify-content: end;
        align-items: end;
    }
    .section4 .element img {
        width: 300px;
        height: 300px;
    }
    
}